$gradiant: linear-gradient(180deg, #f4e7d7 0%, rgba(244, 231, 215, 0) 152.08%);

// colors

// fonts
$fontsize-56: 56px;
$fontsize-40: 40px;
$fontsize-32: 32px;
$fontsize-24: 24px;
$fontsize-20: 20px;
$fontsize-16: 16px;
$fontsize-14: 14px;
$fontsize-12: 12px;

// lineheight
$lineheight-160: 160%;
$lineheight-150: 150%;
$lineheight-140: 140%;
$lineheight-135: 135%;
$lineheight-125: 125%;
