@import "./common", "variables";

header {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  &.active {
    background-color: $color-white-0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;

    .close {
      display: block;
    }

    .toggle {
      display: none;
    }

    nav {
      ul {
        position: static;
        transform: translateX(0%);
        transition: 0.3s;
      }
    }

    nav {
      flex-direction: column;
      align-items: flex-start;
      gap: 48px;
    }
  }
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  margin-bottom: 150px;

  .ondwayLogo {
    position: relative;
  }
}

nav ul {
  display: flex;
  gap: 48px;

  a {
    @include typeface-medium-16;
    color: $color-grey-3;

    &:hover,
    &:active {
      color: $color-orange;
    }
  }
}

.toggle {
  position: absolute;
  display: none;
}

.close {
  position: absolute;
  display: none;
  right: 20px;
}

.banner {
  text-align: center;
  padding-bottom: 141px;
  background-image: url(/assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    @include typeface-bold-56;
    margin-bottom: 16px;
  }

  p {
    @include typeface-regular-20;
    max-width: 625px;
    margin: 0 auto;
  }
}

.mission {
  text-align: center;
  padding: 100px 20px;
  max-width: 947px;
  margin: 0 auto;

  h3::after {
    content: url(/assets/images/underline.svg);
    position: absolute;
    transform: translate(-113%, 25%);
  }

  p {
    @include typeface-regular-20;
    color: $color-grey-2;
    margin-top: 48px;
  }
}

.reason {
  background-color: $color-white-1;
  padding: 100px 0;

  h3 {
    margin-bottom: 72px;
    span {
      &::after {
        content: url(/assets/images/underline.svg);
        position: absolute;
        transform: translate(-100%, 25%);
      }
    }
  }

  .reasonCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 103.5px;
  }

  .reasonCardDetail {
    max-width: 291px;
    text-align: center;

    img {
      margin-bottom: 32px;
    }
    h4 {
      @include typeface-bold-32;
      color: $color-black-2;
    }
    p {
      @include typeface-regular-16;
    }
  }
}

.team {
  padding: 100px 20px;

  h3 {
    margin-bottom: 62px;
    &::after {
      content: url(/assets/images/underline.svg);
      position: absolute;
      transform: translate(-105%, 30%);
    }
  }

  .teamDetail {
    display: flex;
    gap: 75px;
    justify-content: center;
    flex-wrap: wrap;

    h4 {
      color: $color-black-1;
      @include typeface-medium-20;
    }

    p {
      @include typeface-regular-16;
    }
  }

  .teamName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0 2px 0;
  }

  .displayPic {
    max-width: 310px;
  }
}

.partners {
  padding: 100px 20px;
  background-color: $color-white-2;

  h5 {
    margin-bottom: 32px;
  }

  .partnerSlider {
    display: flex;
    gap: 102.5px;
    row-gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .sliderOne {
    margin-bottom: 48px;
  }
}

.career {
  display: flex;
  gap: 386px;
  row-gap: 24px;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  background-color: $color-white-3;
  padding: 75px 20px;

  h3 {
    text-align: left;
    margin-bottom: 24px;

    span::after {
      content: url(/assets/images/careerUnderline.svg);
      position: absolute;
      transform: translate(-99%, 25%);
    }
  }

  p {
    max-width: 414px;
    margin-bottom: 40px;
    span {
      color: $color-blue-0;
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

footer {
  background-color: $color-black-0;

  p {
    color: $color-blue-1;
  }

  a {
    color: $color-blue-1;

    &:hover,
    &:active {
      color: $color-white-0;
    }
  }

  h4 {
    color: $color-white-0;
  }

  hr {
    border: 1px solid $color-grey-4;
  }

  .footerSubscribe {
    padding: 72px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    gap: 32px;

    input {
      @include typeface-regular-20;
      color: $color-blue-3;
      width: 400px;
      padding: 13px 0 13px 24px;
      border-radius: 10px 0px 0px 10px;
      border: none;
    }

    button {
      background-color: $color-orange;
      color: $color-white-0;
      @include typeface-bold-20;
      padding: 13px 32px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
      border-radius: 0px 10px 10px 0px;
      border: none;
      cursor: pointer;

      &:hover,
      &:active {
        color: $color-orange;
        background-color: $color-white-0;
      }
    }

    form {
      display: flex;
    }
    h3 {
      color: $color-white-0;
      @include typeface-medium-40;
    }
    p {
      @include typeface-regular-20;
    }
  }
}

.footerDetail {
  padding: 72px 0;
  display: flex;
  row-gap: 48px;

  p {
    @include typeface-regular-14;
  }

  h4 {
    margin-bottom: 20px;
  }

  .socialMedia {
    flex-basis: 30%;
    margin-right: 20px;

    p {
      max-width: 252px;
      margin: 16px 0 32px 0;
    }

    .socialMediaLogos {
      display: flex;
      gap: 16px;
    }
  }

  .company {
    flex-basis: 20%;
    li {
      margin-bottom: 10px;
    }
  }

  .products {
    flex-basis: 20%;

    li {
      margin-bottom: 10px;
    }
  }

  .contactUs {
    p:first-child {
      max-width: 233px;
      margin-bottom: 16px;
    }
    .contact {
      display: flex;
      gap: 8px;
      align-items: center;
      margin-bottom: 8px;
    }
  }
}

.policies {
  display: flex;
  justify-content: space-between;
  @include typeface-regular-12;
  padding-bottom: 32px;

  ul {
    display: flex;
    gap: 12px;

    span {
      color: $color-grey-1;
    }
  }
}

@media (max-width: 992px) {
  nav ul {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(-120%);
  }

  .toggle {
    display: block;
    right: 20px;
  }
}

@media (max-width: 768px) {
  header nav {
    margin-bottom: 75px;
  }

  .banner {
    padding-bottom: 74px;
    background-image: url(/assets/images/backgroundResponsive.png);
  }

  .banner h1 {
    @include typeface-bold-32;
  }

  .banner p {
    max-width: 320px;
    @include typeface-regular-14;
  }

  .mission {
    padding: 64px 24px;
  }

  .mission h3::after {
    content: url(/assets/images/underlineMobile.svg);
  }

  .mission p {
    @include typeface-regular-14;
  }

  .reason {
    padding: 64px 0;

    h3 {
      margin-bottom: 48px;

      span {
        display: block;

        &::after {
          content: url(/assets/images/underlineMobile.svg);
        }
      }
    }
    .reasonCard {
      gap: 40px;
    }

    .reasonCardDetail {
      img {
        margin-bottom: 20px;
      }
      h4 {
        @include typeface-bold-20;
      }
      p {
        @include typeface-regular-14;
      }
    }
  }

  .team {
    padding: 64px 20px;

    h3 {
      margin-bottom: 48px;
    }

    h3::after {
      content: url(/assets/images/underlineMobile.svg);
    }

    .teamDetail {
      gap: 30px;
    }

    .teamName {
      margin-top: 16px;
    }

    .displayPic {
      max-width: 280px;
    }
  }

  .partners {
    padding: 64px 20px;

    h5 {
      margin-bottom: 40px;
    }
  }

  .career {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;

    h3 {
      text-align: center;

      span::after {
        content: url(/assets/images/careerUnderlineMobile.svg);
      }
    }
  }

  footer {
    .footerSubscribe {
      input {
        width: 211px;
        padding: 10px 0 10px 24px;
        @include typeface-regular-14;
      }

      button {
        @include typeface-bold-14;
        padding: 10px 20px;
      }

      h3 {
        @include typeface-bold-24;
      }

      p {
        @include typeface-regular-14;
      }

      .subscribeHeading {
        max-width: 274px;
      }
    }
  }

  .footerDetail {
    flex-wrap: wrap;

    .socialMedia {
      flex-basis: 100%;
    }
    .company {
      flex-basis: 50%;
    }

    .products {
      flex-basis: 50%;
    }

    .contactUs {
      flex-basis: 100%;
    }
  }

  .policies {
    flex-direction: column;
    row-gap: 12px;
    ul {
      flex-direction: column;
      gap: 6px;

      span {
        display: none;
      }
    }
  }
}

@media (max-width: 360px) {
  footer {
    .footerSubscribe {
      input {
        width: 191px;
      }

      button {
        padding: 10px 10px;
      }
    }
  }
}
