* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "DM Sans", sans-serif;
}
body p {
  color: #717484;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}
@media (max-width: 1274px) {
  .container {
    padding: 0 20px;
  }
}

.commonHeading {
  text-align: center;
}
.commonHeading h3 {
  color: #312f2e;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
}
@media (max-width: 768px) {
  .commonHeading h3 {
    font-size: 24px;
    line-height: 140%;
  }
}
.commonHeading h5 {
  color: #717484;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}
@media (max-width: 768px) {
  .commonHeading h5 {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.03em;
  }
}

.commonButton {
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  color: #fe6f46;
  padding: 15.5px 24px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fe6f46;
  border-radius: 6px;
  cursor: pointer;
}
.commonButton:hover {
  background-color: #ffffff;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .commonButton {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    padding: 11.5px 32px;
  }
}

header {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
header.active {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
}
header.active .close {
  display: block;
}
header.active .toggle {
  display: none;
}
header.active nav ul {
  position: static;
  transform: translateX(0%);
  transition: 0.3s;
}
header.active nav {
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  margin-bottom: 150px;
}
header nav .ondwayLogo {
  position: relative;
}

nav ul {
  display: flex;
  gap: 48px;
}
nav ul a {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #63605f;
}
nav ul a:hover, nav ul a:active {
  color: #fe6f46;
}

.toggle {
  position: absolute;
  display: none;
}

.close {
  position: absolute;
  display: none;
  right: 20px;
}

.banner {
  text-align: center;
  padding-bottom: 141px;
  background-image: url(/assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 125%;
  margin-bottom: 16px;
}
.banner p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  max-width: 625px;
  margin: 0 auto;
}

.mission {
  text-align: center;
  padding: 100px 20px;
  max-width: 947px;
  margin: 0 auto;
}
.mission h3::after {
  content: url(/assets/images/underline.svg);
  position: absolute;
  transform: translate(-113%, 25%);
}
.mission p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #717484;
  margin-top: 48px;
}

.reason {
  background-color: #fbf5ef;
  padding: 100px 0;
}
.reason h3 {
  margin-bottom: 72px;
}
.reason h3 span::after {
  content: url(/assets/images/underline.svg);
  position: absolute;
  transform: translate(-100%, 25%);
}
.reason .reasonCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 103.5px;
}
.reason .reasonCardDetail {
  max-width: 291px;
  text-align: center;
}
.reason .reasonCardDetail img {
  margin-bottom: 32px;
}
.reason .reasonCardDetail h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: #3f3d3d;
}
.reason .reasonCardDetail p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.team {
  padding: 100px 20px;
}
.team h3 {
  margin-bottom: 62px;
}
.team h3::after {
  content: url(/assets/images/underline.svg);
  position: absolute;
  transform: translate(-105%, 30%);
}
.team .teamDetail {
  display: flex;
  gap: 75px;
  justify-content: center;
  flex-wrap: wrap;
}
.team .teamDetail h4 {
  color: #312f2e;
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
}
.team .teamDetail p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
.team .teamName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0 2px 0;
}
.team .displayPic {
  max-width: 310px;
}

.partners {
  padding: 100px 20px;
  background-color: #fafafb;
}
.partners h5 {
  margin-bottom: 32px;
}
.partners .partnerSlider {
  display: flex;
  gap: 102.5px;
  row-gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
}
.partners .sliderOne {
  margin-bottom: 48px;
}

.career {
  display: flex;
  gap: 386px;
  row-gap: 24px;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  background-color: #fdf1ec;
  padding: 75px 20px;
}
.career h3 {
  text-align: left;
  margin-bottom: 24px;
}
.career h3 span::after {
  content: url(/assets/images/careerUnderline.svg);
  position: absolute;
  transform: translate(-99%, 25%);
}
.career p {
  max-width: 414px;
  margin-bottom: 40px;
}
.career p span {
  color: #1b1d33;
  font-weight: 700;
  text-decoration: underline;
}

footer {
  background-color: #0d0d0d;
}
footer p {
  color: #bdbec4;
}
footer a {
  color: #bdbec4;
}
footer a:hover, footer a:active {
  color: #ffffff;
}
footer h4 {
  color: #ffffff;
}
footer hr {
  border: 1px solid #5c5c5c;
}
footer .footerSubscribe {
  padding: 72px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  gap: 32px;
}
footer .footerSubscribe input {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #9c9eaa;
  width: 400px;
  padding: 13px 0 13px 24px;
  border-radius: 10px 0px 0px 10px;
  border: none;
}
footer .footerSubscribe button {
  background-color: #fe6f46;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  padding: 13px 32px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 0px 10px 10px 0px;
  border: none;
  cursor: pointer;
}
footer .footerSubscribe button:hover, footer .footerSubscribe button:active {
  color: #fe6f46;
  background-color: #ffffff;
}
footer .footerSubscribe form {
  display: flex;
}
footer .footerSubscribe h3 {
  color: #ffffff;
  font-weight: 500;
  font-size: 40px;
  line-height: 135%;
}
footer .footerSubscribe p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.footerDetail {
  padding: 72px 0;
  display: flex;
  row-gap: 48px;
}
.footerDetail p {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}
.footerDetail h4 {
  margin-bottom: 20px;
}
.footerDetail .socialMedia {
  flex-basis: 30%;
  margin-right: 20px;
}
.footerDetail .socialMedia p {
  max-width: 252px;
  margin: 16px 0 32px 0;
}
.footerDetail .socialMedia .socialMediaLogos {
  display: flex;
  gap: 16px;
}
.footerDetail .company {
  flex-basis: 20%;
}
.footerDetail .company li {
  margin-bottom: 10px;
}
.footerDetail .products {
  flex-basis: 20%;
}
.footerDetail .products li {
  margin-bottom: 10px;
}
.footerDetail .contactUs p:first-child {
  max-width: 233px;
  margin-bottom: 16px;
}
.footerDetail .contactUs .contact {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 8px;
}

.policies {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  padding-bottom: 32px;
}
.policies ul {
  display: flex;
  gap: 12px;
}
.policies ul span {
  color: #8f8f8f;
}

@media (max-width: 992px) {
  nav ul {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(-120%);
  }
  .toggle {
    display: block;
    right: 20px;
  }
}
@media (max-width: 768px) {
  header nav {
    margin-bottom: 75px;
  }
  .banner {
    padding-bottom: 74px;
    background-image: url(/assets/images/backgroundResponsive.png);
  }
  .banner h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
  }
  .banner p {
    max-width: 320px;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
  }
  .mission {
    padding: 64px 24px;
  }
  .mission h3::after {
    content: url(/assets/images/underlineMobile.svg);
  }
  .mission p {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
  }
  .reason {
    padding: 64px 0;
  }
  .reason h3 {
    margin-bottom: 48px;
  }
  .reason h3 span {
    display: block;
  }
  .reason h3 span::after {
    content: url(/assets/images/underlineMobile.svg);
  }
  .reason .reasonCard {
    gap: 40px;
  }
  .reason .reasonCardDetail img {
    margin-bottom: 20px;
  }
  .reason .reasonCardDetail h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
  }
  .reason .reasonCardDetail p {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
  }
  .team {
    padding: 64px 20px;
  }
  .team h3 {
    margin-bottom: 48px;
  }
  .team h3::after {
    content: url(/assets/images/underlineMobile.svg);
  }
  .team .teamDetail {
    gap: 30px;
  }
  .team .teamName {
    margin-top: 16px;
  }
  .team .displayPic {
    max-width: 280px;
  }
  .partners {
    padding: 64px 20px;
  }
  .partners h5 {
    margin-bottom: 40px;
  }
  .career {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
  .career h3 {
    text-align: center;
  }
  .career h3 span::after {
    content: url(/assets/images/careerUnderlineMobile.svg);
  }
  footer .footerSubscribe input {
    width: 211px;
    padding: 10px 0 10px 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
  }
  footer .footerSubscribe button {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    padding: 10px 20px;
  }
  footer .footerSubscribe h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
  footer .footerSubscribe p {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
  }
  footer .footerSubscribe .subscribeHeading {
    max-width: 274px;
  }
  .footerDetail {
    flex-wrap: wrap;
  }
  .footerDetail .socialMedia {
    flex-basis: 100%;
  }
  .footerDetail .company {
    flex-basis: 50%;
  }
  .footerDetail .products {
    flex-basis: 50%;
  }
  .footerDetail .contactUs {
    flex-basis: 100%;
  }
  .policies {
    flex-direction: column;
    row-gap: 12px;
  }
  .policies ul {
    flex-direction: column;
    gap: 6px;
  }
  .policies ul span {
    display: none;
  }
}
@media (max-width: 360px) {
  footer .footerSubscribe input {
    width: 191px;
  }
  footer .footerSubscribe button {
    padding: 10px 10px;
  }
}/*# sourceMappingURL=main.css.map */